@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan";
  src: url("/font/Yekan.eot");
  src: url("/font/Yekan.eot?#iefix") format("embedded-opentype"),
    url("/font/Yekan.woff") format("woff"),
    url("/font/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --c1: #37fa38;
  --c2: #062e01;
  --c3: #061b08;
  --c4: #e6f4ea;
  --c5: #00bfa5;
  --c6: #5c5c5c;
}

body {
  background-color: var(--c4);
  font-family: "Yekan";
  direction: rtl;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
